@namespace AnalisePanilha.Shared.Components.Atoms
@inherits StatusIndicatorBase

<div class="status-indicator @StatusClass">
    <span class="status-icon">@Icon</span>
    <span class="status-text">@Text</span>
</div>